/*
Start of Bamieh's Code
*/

/* Making sure everything in the body will be centered and that the body will take up the whole viewport */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #130B25;
    height: 100vh;
    overflow: hidden;
}

/* Similar to body, I'm making sure everything is centered in the center box and that it takes up a good amount of space */
#center_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 30vh;
    height: 30vh;
    border-radius: 5rem;
}

/* Stretching out the input field and making it look nice */
.input_field {
    width: 20rem;
    height: 1.4rem;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #D9D9D9;
}

/* Enclosed the button in a div to make it centered */
.button_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Making the button look like our figma mock-ups */
.button {
    width: 7rem;
    height: 1.4rem;
    background-color: #1F45AD;
    color: white;
    border: none;
    border-radius: 0.5rem;
}

/* Making button reactive */
.button:hover {
    background-color: #2657D9;
    cursor: pointer;
}

/* 
End of Bamieh's code 
*/