<!-- Start of Bamieh's Code-->

<!--Simple 404 error HTML File-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
</head>

<body>
    <h1>404 Error</h1>
    <p>The page you tried to access was not found.</p>
</body>

</html>

<!-- End of Bamieh's Code-->